:host {
  .container {
    width: 80%;
    margin: auto;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .navig {
      display: flex;
      flex-direction: row;
      justify-content: end;

      button {
        width: 100px;
      }
    }
  }
}